.ticket-book-form {
  .form-group {
    margin-bottom: 1rem;
    label {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      display: block;
    }
    input {
      width: 100%;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      border: 2px solid #000;
      border-radius: 0;
      outline: none;
      &:focus {
        border-color: #000;
      }
    }
  }
}
