
.show-card-div {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.show-btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #000;
  color: #000;
  background-color: transparent;
  transition: all 0.3s linear;
  text-align: center;
  width: 100%;
  display: block;
  &:hover {
    background-color: #000;
    color: #fff;
  }
  &.dark {
    background-color: #000;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}
.mobile-screen-btn {
  @media screen and (max-width: 772px) {
    display: flex !important;
    flex-direction: column-reverse;
  }
}

.main-hero {
  background-image: url("./assets/movie-hero-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;
  margin-bottom: 5rem;
  outline: 2px solid #f5c518;
  outline-offset: -1rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .hero-text {
    position: relative;
    z-index: 10;
    color: #f5c518;

    text-align: center;
    h1 {
      font-size: 5rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 1rem;
      text-shadow: 0 0 10px #000;
    }
    p {
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
  }
}
.search-filter {
  max-width: 90%;
  margin: 0 auto;
  .input-box {
    margin: 1rem;
    input {
      width: 100%;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      border: 2px solid #000;
      border-radius: 0;
      outline: none;
      display: block;
      &:focus {
        border-color: #000;
      }
    }
  }
}
